.form_cost{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_cost label{
    margin-bottom: .6em;
    font-weight: bold;
}

.form_cost input{
    padding: .7em;
    border: solid 1px #ebebeb;
    border-radius: 5px;
}

.form_cost input::placeholder{
    color: #777;
}